@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: var(--LightGray);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.container{
    width: 320px;
    height: 500px;
    margin: 80px auto;
    padding: 15px;
    background-color: var(--White);
    border-radius: 15px;
}
.container__img{
    width: 290px;
    height: 290px;
    background-image: url(images/image-qr-code.png);
    background-size: cover;
    border-radius: 12px;
}
.container__title{
    color: var(--DarkBlue);
    text-align: center;
    margin-top: 20px;
}
.container__paragraph{
    color: var(--GrayishBlue);
    text-align: center;
    padding: 13px;
    font-size: 15px;
}
